<div class="panel panel-default" style="border-radius: 0; border-top: none;">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1">
          Add Property
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              Property Name
            </th>
            <th>
              Property Type
            </th>
            <th>
              Required
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties | keys">
            <td>{{property}}</td>
            <td>{{properties[property].type}}</td>
            <td>{{properties[property].required}}</td>
            <td> <button (click)="edit(property)">Edit</button> | <button (click)="delete(property)">Delete</button> </td> 
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Property</h4>
          </div>
          <div class="modal-body">
            <form #form="ngForm" novalidate (ngSubmit)="form.valid && SaveData()">
              <div class="form-group">
                <label for="propertyName">Property Name</label>
                <input type="text" class="form-control" [(ngModel)]="property.name" #name="ngModel" name="propertyName" required placeholder="Property Name"
                  required>
              </div>
              <div class="form-group">
                <label for="propertyType">Property Type</label>
                <select class="form-control" name="base" [(ngModel)]="property.definition.type" required>
                  <option *ngFor="let type of types">{{type}}</option>
                </select>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="property.definition.required"  name="required"> Required
                </label>
              </div>
              <div class="form-group">
                <label for="propertyName">Length</label>
                <input type="number" class="form-control" [(ngModel)]="property.definition.length" name="length" required placeholder="Length">
              </div>
              <div class="form-group">
                <label for="propertyName">Default Value</label>
                <input type="text" class="form-control" [(ngModel)]="property.definition.default" name="default" required placeholder="Default value">
              </div>
              <div class="form-group">
                <label for="propertyName">Description</label>
                <textarea class="form-control" [(ngModel)]="property.definition.description" name="description" placeholder="Description"></textarea>
              </div>
              <div class="form-group">
                <label for="propertyName">Min</label>
                <input type="number" class="form-control" [(ngModel)]="property.definition.max" name="max" placeholder="Max value">
              </div>
              <div class="form-group">
                <label for="propertyName">Max</label>
                <input type="number" class="form-control" [(ngModel)]="property.definition.min" name="min" placeholder="Min value">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="property.definition.id" name="id"> this is an Id?
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="property.definition.index" name="index"> this is an Index?
                </label>
              </div>
              <div class="form-group">
                <label for="propertyName">Pattern</label>
                <input type="text" class="form-control" [(ngModel)]="property.definition.pattern" name="pattern" placeholder="Property Name">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>